<header id="top-header">
    <div class="header">
        <span class="siteName">
            <a class="siteNameA" href="/" title="Return to home page">CSE Motors</a>
        </span>
        <div id="tools">
            <a class="tools" title="Click to log in" href="/account/login">My Account</a>
        </div>
    </div>
</header>