<!-- <h1>Giovanni Canavesi</h1> -->

<h1>Welcome to CSE Motors!</h1>

<%- messages() %>

<div class="div_delorean">
  <img class="delorean" src="/images/vehicles/delorean.jpg" alt="" />
  <div class="delorean_attributes">
    <h2 class="attribute">DMC Delorean</h2>
    <h3 class="attribute">3 Cup holders</h3>
    <h3 class="attribute">Superman doors</h3>
    <h3 class="attribute">Fuzzy dice!</h3>
    <button class="button_attributes">Own Today</button>
  </div>
</div>

<div class="features">
  <div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="grid_upgrades">
      <div class="grid_upgrade">
        <div class="grid_upgrade_img">
          <img class="center_img" src="/images/upgrades/flux-cap.png" alt="" />
        </div>
        <a href="">Flux Capacitor</a>
      </div>
      <div class="grid_upgrade">
        <div class="grid_upgrade_img">
          <img class="center_img" src="/images/upgrades/flame.jpg" alt="" />
        </div>
        <a href="">Flame Decals</a>
      </div>
      <div class="grid_upgrade">
        <div class="grid_upgrade_img">
          <img
            class="center_img"
            src="/images/upgrades/bumper_sticker.jpg"
            alt=""
          />
        </div>
        <a href="">Bumper Stickers</a>
      </div>
      <div class="grid_upgrade">
        <div class="grid_upgrade_img">
          <img class="center_img" src="/images/upgrades/hub-cap.jpg" alt="" />
        </div>
        <a href="">Hub Caps</a>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li class="list_review">
        "So fast it's almost like travelling in time." (4/5)
      </li>

      <li class="list_review">"Coolest ride on the road." (4/5)</li>

      <li class="list_review">"I'm feeling McFly!" (5/5)</li>

      <li class="list_review">
        "The most futuristic ride of our day." (4.5/5)
      </li>

      <li class="list_review">"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
</div>
