/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  /* margin: 0;
  padding: 0; */
}

.gridInv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.h2Vehicle {
  color: black;
  text-decoration: none;
}

.aNav {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.aNav:hover {
  background-color: white;
  color: black;
}

.liInv {
  list-style-type: none;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.namePrice {
  text-align: center;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.siteNameA {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

#tools {
  top: 10px;
  right: 10px;
  position: absolute;
}

.tools {
  color: black;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: #111111;
  width: 100%;
  height: 50px;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  color: white;
  display: flex;
  align-items: center;
}

.list_review {
  color: black;
}

.delorean {
  width: 100%;
}

.delorean_attributes {
  position: absolute;
  left: 30px;
  width: 190px;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
}

.attribute {
  color: rgb(0, 183, 255);
  margin: 0;
}

.div_delorean {
  position: relative;
  display: flex;
  align-items: center;
}

.button_attributes {
  width: 100%;
  padding: 5px;
  background-color: rgb(0, 183, 255);
  font-weight: 600;
}

.features {
  display: flex;
  flex-direction: column-reverse;
}

.grid_upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid_upgrade {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid_upgrade_img {
  background-color: rgb(0, 183, 255);
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_img {
  height: 80%;
}

.span-detail {
  font-weight: 900;
}

.img-detail {
  width: 100%;
}

@media screen and (min-width: 1000px) {

  .grid-detail {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .gridInv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  #tools {
    top: 10px;
    right: 10px;
    position: relative;
  }

  #wrapper {
    background-image: url(/images/site/small_check.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .container {
    background-color: white;
    width: 90%;
    border: 3px rgb(0, 183, 255) solid;
    border-radius: 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .features {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  
  .grid_upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .grid_upgrade {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .grid_upgrade_img {
    background-color: rgb(0, 183, 255);
    height: 95%;
    width: 95%;
  }
}

/* .header {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

.delorean {
  width: 100%;
}

.delorean_attributes {
  position: absolute;
  left: 30px;
  width: 170px;
}

.div_delorean {
  position: relative;
  display: flex;
  align-items: center;
}

.button_attributes {
  width: 100%;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid_upgrade {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid_upgrade_img {
  background-color: blue;
  height: 95%;
  width: 95%;
} */