<% if (title) { %>
<h1><%= title %></h1>
<% } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<a href="/inv/addclassification">Add New Classification</a>
<br />
<br />
<a href="/inv/addinventory">Add New Inventory</a>

<h2>Manage Inventory</h2>

<p>Select a classification</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
